*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    height: 5000px;
    background: #FFFAF5;
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #FF5B2E;
}

/* Common */

a {
    text-decoration: none;
}

a,
button,
input,
textarea,
select {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

button,
input {
    border: none;
    outline: none;
    background: transparent;
}

img,
svg {
    display: block;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 56px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 117px;
    height: var(--height);
    border-radius: 25px;
    border: 1px solid rgba(0, 9, 88, 0.7);
    color: #000958;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.btn:hover {
    opacity: 0.9;
}

.heading {
    color: #000958;
    font-family: Sora;
    font-size: 5.2rem;
    font-weight: 700;
    line-height: 1.2;
}

.desc {
    color: #656689;
    font-weight: 400;
    line-height: 1.875;
}

/* Header */

.header {
    padding-top: 14px;
    background: #f9f4f0;
    backdrop-filter: blur(20px);
}

.header--sticky {
    position: sticky;
    top: -14px;
    z-index: 99;
}

.header__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0;
}

.nav__list {
    display: flex;
}

.nav__link,
.header-authen__link {
    display: inline-block;
    padding: 12px 16px;
    color: #5E6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1;
}

.nav__item.active .nav__link,
.nav__link:hover {
    color: #000958;
    font-weight: 600;
}

.nav__link::before {
    content: attr(title);
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    font-weight: 600;
}

.header-authen__btn {
    --height: 50px;

    transition: border-color, background, color;
    transition-duration: 0.2s;
}

.header-authen__btn:hover {
    border-color: var(--primary-color);
    background: var(--primary-color);
    color: #fff;
}

/* Hero */

.hero {
    margin-top: 92px;
}

.hero__body {
    display: flex;
    gap: 120px;
}

.hero__media {
    position: relative;
    width: 47%;
    padding-bottom: 94px;
    flex-shrink: 0;
}

.hero__img-wrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    border: 3px solid #FFF;
    background: linear-gradient(180deg, #FFA78D 0%, #FF8C60 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.hero__deco--dive {
    z-index: -1;
}

.hero__decor-left {
    position: absolute;
    bottom: 10px;
    left: -56px;
}

.hero__decor-right {
    position: absolute;
    top: 17px;
    right: -42px;
}

.hero__img-wrap--small {
    position: absolute;
    bottom: 36px;
    right: 23px;
    width: 186px;
    height: 244px;
    border: 2px solid rgba(255, 255, 255, 0.65);
    background: linear-gradient(206deg, #FAA7AD 4.68%, #E87F8A 98.09%);
    box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
}

.hero-summary {
    position: absolute;
    bottom: 0;
    left: 129px;
    width: 250px;
    padding: 18px 14px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-summary__item {
    display: flex;
}

.hero-summary__img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background: #FEC23F;
}

.hero-summary__img--newbg {
    background: #C6E2FA;
}

.hero-summary__info {
    margin-left: 10px;
}

.hero-summary__title {
    color: #181E52;
    font-family: Sora, sans-serif;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
}

.hero-summary__skeleton {
    width: 118px;
    height: 4px;
    margin-top: 6px;
    border-radius: 10px;
    background: rgba(0, 9, 88, 0.08);
}

.hero-summary__skeleton--short {
    width: 39px;
}

.hero-summary__line {
    width: 100%;
    height: 2px;
    margin: 21px 0;
    border-radius: 2px;
    background: #F2F2F2;
}

.hero__content {
    padding-top: 71px;
}

.hero__heading {
    color: #000958;
    font-family: Sora;
    font-size: 6.6rem;
    font-weight: 800;
    line-height: 1.1515;
}

.hero__desc {
    width: 391px;
    margin-top: 20px;
    color: #656689;
    font-weight: 400;
    line-height: 1.875;
}

.hero-cta {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero-cta__btn {
    --height: 60px;

    width: 189px;
    border-radius: 31px;
    border-color: var(--primary-color);
    background: var(--primary-color);
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: #FFF;
    font-size: 1.6rem;
}

.hero-cta__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 50%;
    background: #FFFAF5;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.40);
}

.hero-cta__link {
    margin-left: 24px;
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    text-decoration: underline;
}

/* About */

.about {
    margin-top: 77px;
    padding: 53px 0;
}

.about__body {
    display: grid;
    align-items: center;
    row-gap: 146px;
    grid-template-columns: 1fr 1fr;
}

.about__title {
    color: #5E6085;
    font-family: Sora;
    font-weight: 600;
    line-height: 1;
}

.about__heading {
    margin-top: 15px;
    width: 446px;
}

.about__desc {
    margin-top: 34px;
    width: 431px;
}

.about__list {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    gap: 36px;
    margin-top: 54px;
}

.about__item {
    position: relative;
    display: flex;
    align-items: center;
    color: #48496A;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1;
}

.about__item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border-radius: 4px;
    background: #FF5D31;
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about__item::after {
    position: absolute;
    content: url(../icon/about_check.svg);
    top: 2px;
    left: 5px;
}

.about__media {
    position: relative;
}

.about-stats {
    position: absolute;
    left: 0;
    top: 157px;
    width: 136px;
    border-radius: 10px;
    padding: 31px 26px 29px;
    background: #5BD6E2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about-stats__value {
    color: #FFF;
    text-align: center;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
}

.about-stats__desc {
    margin-top: 14px;
    color: #C6F4F9;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.4288;
}

.about-stats__decor {
    position: absolute;
    right: -33px;
    top: -39px;
}

.about__wrap {
    position: relative;
    width: 494px;
    margin-left: auto;
}

.about__wrap::after {
    position: absolute;
    content: "";
    inset: auto 0 0 0;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
    z-index: -1;
}

.about__image {
    width: 450px;
    object-fit: cover;
    margin: 0 auto;
}

.about__decor {
    position: absolute;
    top: 157px;
    right: -51px;
    z-index: -1;
}

.about__wrap-bottom {
    position: relative;
    width: 458px;
    height: 500px;
    border-radius: 18px;
    border: 2px solid #FFF;
    background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__image-bottom {
    width: 100%;
    object-fit: cover;
}

.about__decor-bottom {
    position: absolute;
}

.about__decor-bottom:nth-child(1) {
    top: 13px;
    right: 64px;
}

.about__decor-bottom:nth-child(2) {
    top: -16px;
    right: 13px;
}

.about__decor-bottom:nth-child(3) {
    top: 33px;
    right: -21px;
}

.about__decor-bottom:nth-child(4) {
    top: 268px;
    right: -36px;
}

.about__decor-bottom:nth-child(5) {
    bottom: 150px;
    right: 19px;
}

.about__decor-bottom:nth-child(6) {
    bottom: -40px;
    right: -23px;
}

.about__decor-bottom:nth-child(7) {
    bottom: -47px;
    right: -33px;
}

.about__decor-bottom:nth-child(8) {
    bottom: -55px;
    right: -42px;
}

.about__desc-bottom {
    margin: 24px 0 52px;
    width: 511px;
}

.about__tabs {
    position: relative;
    display: inline-flex;
    align-items: center;
    column-gap: 56px;
}

.about__tabs::after,
.about__tab--active::after,
.tab-item__more::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    border-radius: 1px;
    background: rgba(255, 91, 46, 0.07);

}

.about__tab--active::after {
    width: 95px;
    background: rgba(255, 91, 46);
}

.about__tab {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    cursor: pointer;
}

.about__tab-icon {
    margin-right: 10px;
}

.tab-content {
    padding-top: 36px;
}

.tab-item {
    width: 391px;
    display: none;
}

.tab-item--active {
    display: block;
}

.tab-item__heading {
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.714;
}

.tab-item__more {
    position: relative;
    display: inline-block;
    margin-top: 32px;
    padding-bottom: 5px;
    color: #FF5D31;
    font-weight: 500;
    line-height: 1;
}

.tab-item__more::after {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #FF5D31;
}

/* Service */
.service {
    margin-top: 130px;
    padding: 68px 0 100px;
    background: #FFF6ED;
}

.service__desc,
.staff__desc {
    color: #5E6085;
    text-align: center;
    font-family: Sora;
    font-weight: 600;
    line-height: 1;
}

.service__heading,
.staff__heading {
    margin-top: 15px;
    text-align: center;
}

.service__body {
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 64px;
    margin-top: 71px;
}

.service-item {
    padding: 30px 28px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #FFF;
}

.service-item+.service-item {
    margin-top: 24px;
}

.service-item__heading {
    display: flex;
    align-items: center;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.service-item__heading::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 22px;
    margin-right: 12px;
    border-radius: 22px;
    background: linear-gradient(#FF5B2E, #FFA187);
}

.service-item__desc {
    width: 244px;
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.714;
}

.service-item__more {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 24px;
    color: #34396A;
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
}

.service-item__more:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
}

.service__wrap {
    position: relative;
    margin-top: 17px;
    /* z-index: 1; */
}

.service__wrap::after {
    position: absolute;
    inset: auto 22px 0 22px;
    content: "";
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9DF1FB 0%, #73D0DB 108.14%);
    /* z-index: -1; */
}

.service__img {
    position: relative;
    width: 100%;
    object-fit: cover;
    z-index: 1;
}

.service__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 45px;
}

.service__btn {
    min-width: 214px;
    border-radius: 31px;
    border: 1px solid #FF5B2E;
    color: #FF5B2E;
    font-size: 1.6rem;
    font-weight: 500;
}

/* Staff */

.staff {
    padding: 130px 0;
}

.staff__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
    margin-top: 45px;
}

.staff-item__wrap {
    position: relative;
    margin: 0 16px;
    border-radius: 130px;
}

.staff-item__wrap::before {
    position: absolute;
    inset: auto 0 0 0;
    content: "";
    height: 89%;
    width: 100%;
    border-radius: inherit;
    background: linear-gradient(180deg, #90CCFF 0%, #59A8EB 95.96%);
}

.staff-item__wrap::after {
    position: absolute;
    left: 50%;
    bottom: 0;
    content: "";
    translate: -50% 0;
    width: calc(100% + 32px);
    height: 100%;
    background-repeat: no-repeat;
    background-position: 0 100%;
    background-size: 100%;
}


.staff-item:nth-child(1) .staff-item__wrap::after {
    background-image: url(../icon/staff-decor-1.svg);
}

.staff-item:nth-child(2) .staff-item__wrap::before {
    background: linear-gradient(180deg, #FF997E 0%, #F3752E 100%);
}

.staff-item:nth-child(2) .staff-item__wrap::after {
    background-image: url(../icon/staff-decor-2.svg);
}

.staff-item:nth-child(3) .staff-item__wrap::before {
    background: linear-gradient(180deg, #FABF3E 0%, #FFA14A 100%);
}

.staff-item:nth-child(3) .staff-item__wrap::after {
    background-image: url(../icon/staff-decor-3.svg);
}

.staff-item:nth-child(4) .staff-item__wrap::before {
    background: linear-gradient(180deg, #5BD6E2 0%, #00A7CC 100%);
}

.staff-item:nth-child(4) .staff-item__wrap::after {
    background-image: url(../icon/staff-decor-4.svg);
}

.staff-item:nth-child(2n) .staff-item__wrap::after {
    background-position: 0 0;
}

.staff-item__img {
    position: relative;
    z-index: 1;
    width: 100%;
    border-radius: inherit;
    object-fit: cover;
}

.staff-item__job,
.staff-item__name {
    text-align: center;
}

.staff-item__job {
    margin-top: 34px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
}

.staff-item__name {
    margin-top: 14px;
    color: #000958;
    font-family: Sora;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
}

.staff__cta {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.staff__cta-btn {
    min-width: 193px;
    border-radius: 31px;
    border: 1px solid #FF5B2E;
    color: #FF5B2E;
    font-weight: 500;
}

/* Pricing */
.pricing {
    padding: 86px 0;
    background-color: #FFF6ED;
}

.pricing__heading,
.pricing__desc {
    text-align: center;
}

.pricing__desc {
    width: 709px;
    margin: 24px auto 38px;
}

.pricing__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing__btn {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 276px;
    height: 56px;
    border-radius: 31px;
    border: 1px solid rgba(255, 91, 46, 0.6);
    cursor: pointer;
}

.pricing__btn::before {
    content: "";
    position: absolute;
    inset: 0 auto 0 0;
    width: 131px;
    border-radius: inherit;
    background: #FF5B2E;
}

.pricing__btn::after{
    position: absolute;
    content: url(../icon/pricing-sale.svg);
    top: -10px;
    right: -110px;
}

.pricing__item {
    position: relative;
    color: #FF5B2E;
    font-weight: 500;
    line-height: 1;
    z-index: 1;
}

.pricing__check:not(:checked) + .pricing__btn::before{
    width: 145px;
}

.pricing__check:checked + .pricing__btn::before{
    left: auto;
    right: 0;
}

.pricing__check:not(:checked) + .pricing__btn .pricing__month {
    color: #fff;
}

.pricing__check:checked + .pricing__btn .pricing__year {
    color: #fff;
}